/**
 * Styled checkbox jQuery plugin
 * @author Netanel Edri <www.netaneledri.net>
 * @version : 1.0
**/

.styledCheckbox-hide {
	display:none;
}

.styledCheckbox-wrapper {
	zoom:1;
	*display:inline;
	height:20px;
	_height:20px;
	width:20px;
}

.styledCheckbox-checked {
	/* custom css to checked mode */
}

.styledCheckbox-unchecked {
	/* custom css to unchecked mode */
}